html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --neumorphism: -12px -12px 12px 0 rgba(255, 255, 255, .3),
        12px 12px 12px 0 rgba(0, 0, 0, .07);
    --neumorphism__inset: inset -12px -12px 12px 0 rgba(255, 255, 255, .3),
        inset 12px 12px 12px 0 rgba(0, 0, 0, .07);
    --neumorphism__inset--focus: inset -12px -12px 12px 0 rgba(200, 200, 200, .1),
        inset 12px 12px 12px 0 rgba(0, 0, 0, .07);
    --neumorphism--dark: -12px -12px 12px 0 rgba(77, 77, 77, .3),
        12px 12px 12px 0 rgba(0, 0, 0, .07);
    --neumorphism__inset--dark: inset -12px -12px 12px 0 rgba(77, 77, 77, .3),
        inset 12px 12px 12px 0 rgba(0, 0, 0, .07);

}

.body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #d2d2d2;
    font-family: 'Lato', sans-serif;
    color: #48A9A6;

    &--dark-background {
        background: #1c1c1c;
        color: white;
    }
}

.dark-theme {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    border: none;
    color: white;
    background: #000;
}

.main {
    width: 90%;
    margin: 30px 0 50px;
    padding: 0 20px;
    background: #eee;
    border-radius: 16px;

    @media screen and (min-width: 768px) {
        width: 50%;
    }



    &__heading {
        width: 80%;
        margin: 20px auto 40px;
        background: #eee;
        box-shadow: var(--neumorphism);
        border-radius: 16px;
        text-align: center;
        padding: 5px 0;

        &--dark-background {
            background: #3b3b3b;
            box-shadow: var(--neumorphism--dark);
        }
    }

    &--dark-background {
        background: #3b3b3b;
    }
}

.form__input {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border: none;
    background: #eee;
    box-shadow: var(--neumorphism__inset);
    border-radius: 8px;
    padding: 0 8px;

    &--story {
        height: 200px;
        padding: 8px 8px;
    }

    &::placeholder {
        color: #bbb;
    }

    &:focus {
        outline: none;
        box-shadow: var(--neumorphism__inset--focus);
    }

    &--dark-input {
        background: #3b3b3b;
        box-shadow: var(--neumorphism__inset--dark);
        color: white;

        &::placeholder {
            color: #5b5b5b;
        }
    }


}

.fieldset {
    border: none;
    margin: 0 10px;
    box-shadow: var(--neumorphism);
    border-radius: 16px;

    &__heading {
        text-align: start;
    }

    &--dark-background {
        box-shadow: var(--neumorphism--dark);
    }
}

.radio {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;

}

.radio-button {
    margin: 0 5px 0 20px;

    &--special {
        margin-left: 0;
    }
}


.submit__button {
    display: block;
    margin: 0 auto;
    background: #eee;
    margin: 0 auto;
    border: none;
    border-radius: 16px;
    width: 90%;
    font-size: 22px;
    padding: 10px 0;
    color: inherit;
    box-shadow: var(--neumorphism);

    &--dark-background {
        background: #3b3b3b;
        box-shadow: var(--neumorphism--dark);
    }
}