html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

:root {
  --color: #48A9A6;
  --placeholder-color: #bbb;
  --body-background: #d2d2d2;
  --main-background: #eee;
  --neumorphism: -12px -12px 12px 0 rgba(255, 255, 255, .3),
        12px 12px 12px 0 rgba(0, 0, 0, .07);
  --neumorphism__inset: inset -12px -12px 12px 0 rgba(255, 255, 255, .3),
        inset 12px 12px 12px 0 rgba(0, 0, 0, .07);
  --neumorphism__inset--focus: inset -12px -12px 12px 0 rgba(200, 200, 200, .1),
        inset 12px 12px 12px 0 rgba(0, 0, 0, .07); }

.body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--body-background);
  font-family: 'Lato', sans-serif;
  color: var(--color); }

.switch {
  position: absolute;
  top: 16px;
  right: 70px; }
  .switch__checkbox {
    display: none; }
  .switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    background: var(--main-background);
    transition: .5s;
    box-shadow: var(--neumorphism__inset); }
    .switch__slider--round {
      border-radius: 35px; }
      .switch__slider--round:before {
        width: 18px;
        height: 18px;
        border-radius: 50%; }
    .switch__slider:before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      background: var(--color);
      transition: .5s; }

.switch__checkbox:checked + .switch__slider {
  background-color: var(--main-background); }
  .switch__checkbox:checked + .switch__slider:before {
    transform: translateX(22px) translateY(-50%);
    background: var(--color); }

.main {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 20px 0;
  padding: 0 20px 10px;
  background: var(--main-background);
  border-radius: 16px; }
  @media screen and (min-width: 768px) {
    .main {
      min-width: 600px;
      max-width: 50%;
      display: grid;
      grid-template-areas: "main__heading main__heading" "personal-info fieldset" "additional-info additional-info";
      grid-template-columns: 1fr 1fr;
      column-gap: 32px; } }
  .main__heading {
    width: 90%;
    margin: 54px auto 40px;
    box-shadow: var(--neumorphism);
    border-radius: 16px;
    text-align: center;
    padding: 5px 0; }
    @media screen and (min-width: 768px) {
      .main__heading {
        grid-area: main__heading;
        grid-template-columns: 1fr; } }

@media screen and (min-width: 768px) {
  .personal-info {
    grid-area: personal-info;
    margin-left: 10px; } }

.form__input {
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: none;
  background: var(--main-background);
  box-shadow: var(--neumorphism__inset);
  border-radius: 8px;
  padding: 0 8px;
  color: var(--color); }
  .form__input--add {
    height: 200px;
    padding: 8px 8px; }
  .form__input::placeholder {
    color: var(--placeholder-color); }
  .form__input:focus {
    outline: none;
    box-shadow: var(--neumorphism__inset--focus); }

.radio {
  display: flex;
  justify-content: space-around;
  margin: 30px 50px; }
  @media screen and (min-width: 768px) {
    .radio {
      margin-top: 40px; } }

.radio__button {
  cursor: pointer; }

.fieldset {
  border: none;
  margin: 40px 10px;
  box-shadow: var(--neumorphism);
  border-radius: 16px; }
  @media screen and (min-width: 768px) {
    .fieldset {
      grid-area: fieldset;
      margin: 0 10px; } }
  .fieldset__heading {
    text-align: start;
    margin-bottom: 30px; }

@media screen and (min-width: 768px) {
  .additional-info {
    grid-area: additional-info;
    margin: 20px 10px 0; } }

.submit__button {
  display: block;
  cursor: pointer;
  background: var(--main-background);
  margin: 40px auto 0;
  border: none;
  border-radius: 16px;
  width: 90%;
  font-size: 22px;
  padding: 10px 0;
  color: inherit;
  box-shadow: var(--neumorphism); }
  @media screen and (min-width: 768px) {
    .submit__button {
      max-width: 50%; }
      .submit__button:hover {
        background: var(--color);
        color: var(--main-background); } }
